<div class="container">
<h1>Please Login</h1>
<form (ngSubmit) = "!loginForm.form.invalid && JWTHandlelogin()"  #loginForm = "ngForm">
    <div class="aler alert-warning" *ngIf = 'invalid'>{{error}}</div>
    <fieldset class="form-group">
        <label>username</label>
        <input type="text" name ="username"  [(ngModel)]="login.userName" class="form-control">
    </fieldset>
    <fieldset class="form-group">
        <label>password</label>
        <input type="password" name = "password"  [(ngModel)]="login.password" class="form-control">
    </fieldset>
    <fieldset class="btn btn-primary">
        <button class="btn btn-block mybtn btn-primary tx-tfm">Submit</button>
    </fieldset>

    <div class="form-group">
       <p class="text-center">Dont have an account? <a routerLink = '/createAccount'>sign up</a> </p>
    </div>
</form>
</div>
